absl-py==2.0.0
Adafruit-Blinka==8.24.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-neopixel==6.3.10
adafruit-circuitpython-pixelbuf==2.0.3
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.53.0
Adafruit-PureIO==1.1.11
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
asttokens==1.1.13
attrs==24.2.0
automationhat==0.2.0
beautifulsoup4==4.7.1
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
cachetools==4.2.4
Cap1xxx==0.1.3
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.7
colorzero==1.1
cookies==2.2.1
cryptography==2.6.1
cupshelpers==1.0
cycler==0.11.0
docutils==0.14
drumhat==0.1.0
entrypoints==0.3
envirophat==1.0.0
exceptiongroup==1.2.2
ExplorerHAT==0.4.2
flake8==5.0.4
Flask==1.0.2
fonttools==4.38.0
fourletterphat==0.1.0
gast==0.2.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpiozero==1.6.2
grpcio==1.59.0
h5py==3.8.0
html5lib==1.0.1
idna==2.6
importlib-metadata==4.2.0
imutils==0.5.4
iniconfig==2.0.0
isort==4.3.4
itsdangerous==0.24
jedi==0.13.2
Jinja2==2.10
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.4.5
lazy-object-proxy==1.3.1
logilab-common==1.4.2
loguru==0.7.2
lxml==4.3.2
Markdown==3.4.4
MarkupSafe==1.1.0
matplotlib==3.5.3
mccabe==0.7.0
microdotphat==0.2.1
mote==0.0.4
motephat==0.0.3
mypy==0.670
mypy-extensions==0.4.1
numpy==1.21.6
oauthlib==2.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==23.2
pantilthat==0.0.7
parso==0.3.1
pexpect==4.6.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
piglow==1.2.5
pigpio==1.78
Pillow==9.5.0
pluggy==1.2.0
protobuf==4.24.4
psutil==5.5.1
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycairo==1.16.2
pycodestyle==2.9.1
pycrypto==2.6.1
pycups==1.9.73
pyflakes==2.5.0
pyftdi==0.54.0
pygame==1.9.4.post1
Pygments==2.3.1
PyGObject==3.30.4
pyinotify==0.9.6
PyJWT==1.7.0
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==3.1.1
pyserial==3.5
pysmbc==1.0.15.6
pytest==6.2.5
pytest-pythonpath==0.7.4
python-apt==1.8.4.3
python-dateutil==2.8.2
pyusb==1.2.1
pyxdg==0.25
rainbowhat==0.1.0
reportlab==3.5.13
requests==2.21.0
requests-oauthlib==1.0.0
responses==0.9.0
roman==2.0.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.0
rsa==4.9
RTIMULib==7.2.1
scipy==1.7.3
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
Send2Trash==1.5.0
sense-hat==2.4.0
simplejson==3.16.0
six==1.12.0
skywriter==0.0.7
sn3218==1.2.7
soupsieve==1.8
spidev==3.5
ssh-import-id==5.7
tensorboard==2.0.2
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==2.3.0
tflite-runtime==2.5.0
thonny==3.3.10
toml==0.10.2
tomli==2.0.1
touchphat==0.0.1
twython==3.7.0
typed-ast==1.3.1
typing-extensions==4.7.1
unicornhathd==0.0.4
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.15.0
zipp==3.15.0
